/* TEMPLATE - TRILHA HTML*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

html,
body {
  margin: 0;
}
body {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  background-color: aquamarine;
}
.main {
  display: flex;
  flex-flow: column;
  width: 85%;
}
.menu {
  width: 15%;
  background-color: #056079;
  padding: 10px 20px 0px;
}
.header {
  background-color: #056079;
  min-height: 150px;
}
.content {
  background-color: white;
  min-height: 300px;
  padding: 90px;
}
.footer {
  background: #056079;
  min-height: 150px;
  padding: 0 30px;
  color: antiquewhite;
}

/* MENU */
.menu a {
  color: #5ce1e6;
  text-decoration: none;
}
.menu li {
  list-style: none;
  font-size: 20px;
  font-family: "Playfair Display", serif;
  margin: 0 0 20px 0;
}

/* HEADER */
.header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 220px;
}

/* CONTENT */
/* Página Principal*/
.content h4 {
  color: #056079;
  font-family: "Playfair Display", serif;
  font-size: 60px;
  margin-top: 10px;
}
.content {
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

/*MARCADORES TIPO BULLET COLORIDOS*/
.content ul {
  list-style: none;
}

.content li::before {
  content: "•";
  color: #056079;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

h5 {
  color: #056079;
  font-family: "Playfair Display", serif;
  font-size: 25px;
  text-decoration: underline;
}

/*Tabela*/
table {
  -webkit-box-shadow: 12px 14px 6px 5px rgba(0,0,0,0.24);
  box-shadow: 12px 14px 6px 5px rgba(0,0,0,0.24);
}
table tr:hover td { background-color: #056079; }

/*Formulário*/
.inputs {
padding: 8px 5px;
outline: none;
border-radius:2px;
border: 2px solid;
margin-top: 1rem;
}
.inputs:focus {
  border-color: #5ce1e6;
}

button[type="submit"]{
  padding: 1rem;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  background-color: #5ce1e6;
  cursor: pointer;
}

/* FOOTER */
img {
  width: 220px;
  height: 220px;
  margin: 50px;
}

.klm {
  
  display: flex;
  margin: 0 0 0 0;
  font-size: 20px;
  text-align: right;
}

.klm h5 {
  color: antiquewhite;
  text-decoration: none
}

.klm ul {
  display: flex;
  justify-content: right;
}

.klm ul li {
  list-style: none;
}

.klm ul li a {
  display: block;
  padding: 10px;
}

/*redes sociais*/
.ulteste a {
  color: antiquewhite;
}
